:root {
  --color-primary: #f1e186;
  --color-link: #e1a54b;
}

body {
  font-family: papyrus;
  font-size: 1.2rem;
  line-height: 1.5;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  background-color: #001020;
  font-size: 1.4rem;
}

.nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}

.nav a {
    color: #f1e186;
    text-decoration: none;
}
a:hover {
    color: #e1a54b;
    
}
.active {
  font-weight: 600;
}

#logo {
  height: 3rem;
  width: 3rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
}

img {
  max-width: 100%;
}


body,html {
  margin: 0;
}


.hero {
  position: relative;
  height: 60vh;

  .overlay {
      top: 0;
      left: 0;
      height: 60vh;
      width: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
  }


  h1 {
      position: absolute;
      font-family: "Papyrus", "Copperplate", fantasy;
      font-size: 4rem;
      color: #f1e186;
      padding: 2rem;
      padding-left: 3.5rem;
      margin-top: 7rem;
  }


  img {
      position: absolute;
      top: 0;
      left: 0;
      aspect-ratio: 16/9;
      height: 60vh;
      width: 100%;
      object-fit: cover;
      object-position: center;
  }
}

.container {
  max-width: 80ch;
  margin-left: 13rem;
  margin-bottom: 2rem;
}

#benpyramid {
      aspect-ratio: 16/9;
      height: 80vh;
      width: 100%;
      object-fit: cover;
      object-position: center;
      margin-top: 1.8rem;
}